<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="filepath" value="G:\My Documents\Visual Studio 2013\Projects\YLsendMail\sendMail\mailList.txt" />
    <add key="connString" value="Data Source=10.10.10.4;Initial Catalog=WaterSupply;User ID=gxadmin;Password=gxems#21" />
  </appSettings>
</configuration>