<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="sqlconn" connectionString="Data Source=WORK-PC\SQLEXPRESS;password=gxems#21;uid=sa;Initial Catalog =WaterWarning;Asynchronous Processing=true;MultipleActiveResultSets=true;" />
  </connectionStrings>
  <appSettings>
    <add key="lisAddress" value="127.0.0.1" />
    <add key="lisPort" value="25001" />
    <add key="PLCpath" value="D:\My Documents\Documents\Visual Studio 2010\Projects\TongHuaModbusServer\TongHuaGPRSserver\dataconfig\ABBInfo.xml" />
    <add key="comInfo" value="E:\My Documents\Documents\Visual Studio 2012\Projects\LQPort\LQPort\bin\Debug\comInfo.xml" />
    <add key="YLinfo" value="G:\My Documents\Visual Studio 2010\Projects\YiLianModbusServer_EG\TongHuaGPRSserver\bin\Debug\YLInfo.xml" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>